.header {
  position: relative;
  height: 800px;
  background-color: #008aff;
  border-radius: 0 0 0 250px; }
  .header__logo {
    position: absolute;
    top: 60px;
    font-weight: normal;
    font-size: 35px;
    line-height: 150%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .header__logo:hover {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5); }
  .header__middle {
    position: absolute;
    margin-top: 168px;
    margin-left: 226px;
    color: #fff; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 228px; }
  .header__info {
    margin-top: 76px;
    border-bottom: 1px solid #ff9c8e;
    border-radius: 4px;
    z-index: 5;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .header__info:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  .header__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .header__swap {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 680px;
    width: 680px;
    background-image: url(../images/slider/Photo.png);
    background-repeat: no-repeat;
    border-radius: 340px 0 0; }
  .header__swap-link {
    position: absolute;
    bottom: 0;
    margin-left: 47px;
    margin-bottom: 22px; }
  .header__swap-h3, .header__swap-p {
    margin-left: 96px; }
  .header__swap-h3 {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .header__swap-p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #fff; }
  .header__arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    top: 18px;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .header__arrow:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  .header__arrow:nth-child(2) {
    left: 40px; }
  .header__arrow-left, .header__arrow-right {
    height: 10px;
    width: 10px; }
  .header__title {
    margin-bottom: 63px; }
  .header__title-p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%; }
  .header__title-h3 {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px; }

@media screen and (max-width: 1550px) {
  .header__top {
    margin: 0 200px; } }

@media screen and (max-width: 1280px) {
  .header__top {
    margin: 0 10px; }
  .header__swap {
    width: 500px; }
  .header__middle {
    margin-left: 100px; } }

@media screen and (max-width: 1100px) {
  .header__top {
    margin: 0 50px; } }

@media screen and (max-width: 1100px) {
  .header__top {
    margin: 0 10px; }
  .header__middle {
    margin-left: 10px; }
  .header__swap {
    width: 350px; } }

@media screen and (max-width: 720px) {
  .header {
    border-radius: 0 0 250px 250px; }
    .header__logo {
      left: 50%; }
    .header__swap {
      display: none; }
    .header__middle {
      display: none; }
    .header__info {
      position: absolute;
      top: 0;
      right: 10px; } }

/*# sourceMappingURL=header.css.map */
